---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import TableOfContents from '../../components/TableOfContents';

export async function getStaticPaths() {
	const posts = await getCollection('blog', ({ data }) => {
		return data.hidden !== true;
	});
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content, headings } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
	<div class="article-grid py-12">
		<aside class="side-column-container">
			<TableOfContents client:load headings={headings} />
		</aside>
		
		<header class="main-column mb-12">
			<h1 class="text-4xl md:text-6xl font-sans font-extrabold tracking-tighter mb-4">
				{post.data.title}
			</h1>
			<p class="text-xl text-slate-500 font-light leading-relaxed italic">
				{post.data.description}
			</p>
		</header>
		
		<Content />
	</div>
</Layout>

<style is:global>
	h2, h3 {
		scroll-margin-top: 100px;
	}
</style>
